.elamm_rewars{
    display: flex;
    align-items: start;
    .add_department {
        float: none;
        margin-right: 15px;
        background: #583702;
        border-radius: 5px;
        padding: 5px 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
}

::ng-deep .mat-column-trophy-rewarded{
    text-align: center !important;
   }