

<div class="container not_found_cont"  >
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="" fxLayoutAlign="center stretch">
        <div fxFlex="100%" fxLayoutAlign="center stretch">
       <div class="img_not_found">
           <a><img src="assets/images/page_not_found.png" alt="404 Page Not Found" border="0"/></a>
    
       
       </div>
       </div>
      
    </div>
       <div class="" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="" fxLayoutAlign="center stretch">
        <div fxFlex="100%" fxLayoutAlign="center stretch">
      
          
       <div class="input-info-row">
        <div fxLayout="row wrap" fxLayoutAlign="space-between start">
          <div fxFlex="100">
            <button mat-raised-button  class="submit_button" [routerLink]="[path]">{{btnname}}</button>
            
          </div>
        </div>
      </div>
      
          </div>
       </div>
      
</div>