

<div class="sidebar">
    <div class="logo">
        <a (click)="navigatetoDefault()" *ngIf="isQrCode!=='true'"><img src="../assets/images/logo.png" alt="" style="cursor: pointer;" /></a>
    </div>
    <div class="menu_bar">
        <ul>
            <li *ngFor="let item of navLinks" [routerLinkActive]="isExternalLink(item) ? '' : 'active'" #rla="routerLinkActive" [ngStyle]="rla.isActive && !isExternalLink(item) ? {'background-image': 'url(../assets/images/active_menu_bar.png)'} : {}" >
                <a [routerLink]="isExternalLink(item) ? null : item.route" (click)="onNavClick(item)">
                    <span *ngIf="!rla.isActive || isExternalLink(item)"><img src='../assets/images/{{item.img}}' /></span>
                    <span *ngIf="rla.isActive && !isExternalLink(item)" class="img_active_2"><img
                        src="../assets/images/{{item.actimg}}"
                        /></span>
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>
    <div class="tab_wrap">
        <div class=""></div>
    </div>
</div>