<app-header-bar [title]="'Catalogues'"  [hideButton]="true"></app-header-bar>


<div class="add_department_form" *ngIf="(redeemTrophiesData$ | async)">
    <div class="mumnin_reward">
        <div class="trophy_level trophy_achieve">
            <div class="level_count">
                <img src="../assets/images/trophy.png" alt="" />
                <div class="txt_overlay"><p>{{(redeemTrophiesData$ | async).trophiesRedeemed + (redeemTrophiesData$ | async).remainingTrophies}}</p></div>
            </div>
            <p>Trophies Redeemed - {{(redeemTrophiesData$ | async).trophiesRedeemed}}</p>
            <p>Trophies Balance - {{(redeemTrophiesData$ | async).remainingTrophies}}</p>
        </div>
    </div>
</div>


    <div class="heading_bar2">
        <div class="catalogue-tab mycatalogue_tab" >
            <mat-tab-group animationDuration="3ms" (selectedTabChange)="againCall()">
            <mat-tab label="Redeem Your Trophy">
                <div class="add_department_form" *ngIf="catalogueList$">
                    <div class="department_form">
                        <div fxLayout="row wrap" fxLayoutAlign="start center" >
                            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" style="cursor: pointer;" fxFlex.gt-md="25%" *ngFor="let data of redeemYourTrophy">
                                <div class="card_view_catalogue">
                                    <div class="view_icon" (click)="viewImage(data?.image_url)">
                                        <span class="material-icons hover-text">aspect_ratio</span>
                                    </div>
                                    <div class="catalogue_circle" (click)="catalogueInfo(data.itemTitle, data.description)">
                                        <img [src]="data?.image_url?data?.image_url : imgPath" alt=""  />
                                    </div>
                                    <h4 class="trophy-number">{{data.trophies || '-' }}</h4> 
                                    <button class="cusortype" (click)="redeemConfirm(data)">{{data.itemTitle.substring(0, 20) || '-' }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="My Achievements">
            <div class="add_department_form">
                    <div class="department_form">
                        <div fxLayout="row wrap" fxLayoutAlign="start">
                            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%" style="cursor: pointer;" fxFlex.gt-md="25%" *ngFor="let data of myAchievements">
                                <div class="card_view_catalogue">
                                    <div class="view_icon" (click)="viewImage(data?.image_url)">
                                        <span class="material-icons hover-text">aspect_ratio</span>
                                    </div>
                                    <div class="edit_icon" *ngIf="data?.ack>1"> {{data?.ack}} </div>
                                    <div class="catalogue_circle" (click)="catalogueInfo(data.itemTitle, data.description)">
                                        <img [src]="data?.image_url?data?.image_url : imgPath" alt=""  />
                                    </div>
                                    <h4 class="trophy-number">{{data.trophies || '-' }}</h4> 
                                    <button class="cusortype">{{data.itemTitle.substring(0, 20) || '-' }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>
          </mat-tab-group>
        </div>
    </div>
    

