<div class="heading_bar">
    <h1>Niyat Template List</h1>
</div>

<div class="add_department">
    <button  type="button">Create Niyat Template</button>
</div>
<p>Table pick from same department</p>
<div class="top_search table_search">
    <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
            <input matInput placeholder="Search" value="">
            <i class="search_icon"><mat-icon aria-hidden="false" aria-label="Example search icon">search</mat-icon></i>
        </mat-form-field>
    </form>
</div>
<!--Start template Creator for Create template -->
<div class="heading_bar">
    <h1>Create Template</h1>
</div>
<div class="add_department_form">
    <div class="department_form">
        <div class="name_feild">
            <div class="input_box">
                <label for="exampleInputEmail1">Template Name<span class="astrick">*</span></label>
                    <mat-form-field apperance="fill">
                    <input matInput type="search" autocomplete="off" class="input-control"  required>
                </mat-form-field>
            </div>
        </div>
        <div class="input_select">
            <div class="select_umoor">
                <div class="input_box">
                    <label for="exampleInputEmail1">Umoor <span class="astrick">*</span></label>
                    <mat-form-field appearance="fill">
                        <mat-select>
                            <mat-option  [value]=""></mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="!f.userStatus.valid">{{validationMessages.status}}</mat-error>-->
                    </mat-form-field>
                </div>
            </div>
            <div class="select_umoor">
                <div class="input_box">
                    <label for="exampleInputEmail1">Department <span class="astrick">*</span></label>
                    <mat-form-field appearance="fill">
                        <mat-select>
                            <mat-option  [value]=""></mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="!f.userStatus.valid">{{validationMessages.status}}</mat-error>-->
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="questio_list">
        <h4>List of Question</h4>
    </div>
    <div class="list_row">
        <ul>
            <li>
                <p>I will recite Quran Majeed daily, and update it on ITS website</p>
                    <div class="list_check">
                        <mat-checkbox></mat-checkbox>
                    </div>
            </li>
            <li>I will acquire La Uqsemo sanad in Ramazan
                <div class="list_check">
                    <mat-checkbox></mat-checkbox>
                </div>
            </li>
            <li>Every student in my family will seek Raza Mubarak via wwww.talabulilm.com
                <div class="list_check">
                    <mat-checkbox></mat-checkbox>
                </div>
            </li>
            <li>Every student in my family will seek Raza Mubarak via wwww.talabulilm.com
                <div class="list_check">
                    <mat-checkbox></mat-checkbox>
                </div>
            </li>
            <li>
                <div class="option_next">
                    <div class="select_change">
                        <div class="input_box">
                            <mat-form-field appearance="fill">
                                <mat-select>
                                <mat-option  [value]="">1</mat-option>
                                <mat-option  [value]="">1</mat-option>
                                <mat-option  [value]="">1</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="!f.userStatus.valid">{{validationMessages.status}}</mat-error>-->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="next_feild">
                        <a href="#">Previous</a>
                        <a href="#">Next</a>
                    </div>
                </div>
            </li>
        </ul>
        
    </div>
    <div class="botton_button">
        <button type="button" class="cancel_button submit_button">Cancel</button>
        <button type="button" class="submit_button">Save Template</button>
    </div>
</div>
<!--end template Creator for Create template -->

<!--Start template Creator for template preview -->
<div class="heading_bar">
    <h1>Preview Template</h1>
</div>
<div class="add_department pre_save">
    <button  type="button">Save & Export</button>
    <button  type="button">Save</button>
    <button  type="button">Back </button>
</div>

<div class="add_department_form">
    <div class="department_form">
        <div class="name_feild">
            <div class="input_box">
                <label for="exampleInputEmail1">Template Name <span class="astrick">*</span></label>
                    <mat-form-field apperance="fill">
                    <input matInput type="search" autocomplete="off" class="input-control"  required>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="questio_list">
        <h4>List of Question</h4>
    </div>
    <div class="list_view">
        <p>1.  I will recite Quran Majeed daily, and update it on ITS website</p>
        <div class="list_radio">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes </mat-radio-button>
                <mat-radio-button value="2">No </mat-radio-button>
            </mat-radio-group>
        </div>
        
        <p>2.  I will acquire La Uqsemo sanad in Ramazan</p>
        <div class="list_radio">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes </mat-radio-button>
                <mat-radio-button value="2">No </mat-radio-button>
            </mat-radio-group>
        </div>
        <p>3.  I will recite Quran Majeed daily, and update it on ITS website</p>
        <div class="list_radio">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes </mat-radio-button>
                <mat-radio-button value="2">No </mat-radio-button>
            </mat-radio-group>
        </div>
        <p>4.  I commit to help a Mumin Student yb contributing</p>
        <div class="view_feild">
            <div class="wrap_pre">
                <div class="input_box">
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control"  required>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <p>5.  I commit to help a Mumin Student yb contributing</p>
        <div class="view_feild">
            <div class="wrap_pre">
                <div class="input_box">
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control"  required>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <p>6.  I commit to help a Mumin Student yb contributing</p>
        <div class="view_feild">
            <div class="wrap_pre">
                <div class="input_box">
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control"  required>
                    </mat-form-field>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--end template Creator for Create template -->
<!--Start data entry operator list niyat -->
<div class="heading_bar">
    <h1>List of Niyat</h1>
</div>
<div class="add_department pre_save">
    <div class="download_file">
        <button mat-button [matMenuTriggerFor]="menu"><span><img src="../assets/images/file_download_black_24dp.svg" alt=""/></span> Download Niyat Template </button>
        <mat-menu #menu="matMenu" class="download_niyat">
            <div class="btn_dropdown">
                <div class="input_box">
                    <mat-form-field appearance="fill">
                        <mat-select>
                            <mat-option  [value]=""></mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="!f.userStatus.valid">{{validationMessages.status}}</mat-error>-->
                    </mat-form-field>
                </div>
                <button type="button" class="d_download c_cancel">Cancel</button>
                <button type="button" class="d_download">Download</button>
            </div>
        </mat-menu>
    </div>
    <button mat-button [matMenuTriggerFor]="menu">
        <span><img src="../assets/images/file_upload_black_24dp.svg" alt=""/></span>  Upload Niyats</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    <button  type="button"><mat-icon>add</mat-icon> Add Niyat Manually</button>
</div>
<!--end data entry operator list niyat -->

<!--Start data entry operator add niyat -->
<div class="clearfix"></div>
<div class="heading_bar">
    <h1>Add Niyat </h1>
</div>
<div class="add_department">
    <button  type="button">Back</button>
</div>
<div class="add_department_form">
    <div class="enter_id">
        <div class="niyat_input wd_group">
            <div class="input_box">
                <label for="exampleInputEmail1">Please Enter TS ID<span class="astrick">*</span></label>
                    <mat-form-field apperance="fill">
                    <input matInput type="search" autocomplete="off" class="input-control"  required>
                </mat-form-field>
            </div>
        </div>
        <div class="niyat_input"><button  type="button" class="submit_button">Submit</button></div>
    </div>
</div>
<!--end data entry operator add niyat -->
<div class="clearfix"></div>
<!--Start data entry operator add niyat form -->
<div class="heading_bar">
    <h1>Add Niyat </h1>
</div>
<div class="add_department txt_lb">
    <p>ITS Id - 12322333</p>
</div>
<div class="add_department_form">
    <div class="department_form">
        <div class="lable_txt">
            <p>
                Name
                <span>Salim Saif</span>
            </p>
        </div>
        <div class="lable_txt">
            <p>
                Jamiat
                <span>Mumbai</span>
            </p>
        </div>
        <div class="lable_txt">
            <p>
                Jamaat
                <span>Mumbai-Najmi</span>
            </p>
        </div>
        <div class="selct_niyat">
            <div class="input_box">
                <label for="exampleInputEmail1">Select Niyat Template  <span class="astrick">*</span></label>
                <mat-form-field appearance="fill">
                    <mat-select>
                    <mat-option  [value]=""></mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="!f.userStatus.valid">{{validationMessages.status}}</mat-error>-->
                </mat-form-field>
            </div>
        </div>
        <div class="selct_niyat">
            <div class="input_box">
                <label for="exampleInputEmail1">Date<span class="astrick">*</span></label>
                <mat-form-field apperance="fill">
                    <input matInput type="search" autocomplete="off" class="input-control" required>
                </mat-form-field>
            </div>
        </div>
    </div>
</div>
<div class="add_department_form">
    <div class="heading_texture">
        <h2>Niyat Form</h2>
    </div>

    <div class="questio_list">
        <h4>List of Question</h4>
    </div>
    
    <div class="list_view">
        <p>1.  I will recite Quran Majeed daily, and update it on ITS website</p>
        <div class="list_radio">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes </mat-radio-button>
                <mat-radio-button value="2">No </mat-radio-button>
            </mat-radio-group>
        </div>
        <p>2.  I will acquire La Uqsemo sanad in Ramazan</p>
        <div class="list_radio">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes </mat-radio-button>
                <mat-radio-button value="2">No </mat-radio-button>
            </mat-radio-group>
        </div>
        <p>3.  Every student in my family will seek Raza Mubarak via wwww.talabulilm.com	</p>
        <div class="list_radio">
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1">Yes </mat-radio-button>
                <mat-radio-button value="2">No </mat-radio-button>
            </mat-radio-group>
        </div>
        <p>4.  I commit to help a Mumin Student yb contributing</p>
        <div class="view_feild">
            <div class="wrap_pre">
                <div class="input_box">
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control"  required>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="view_feild niyat_off">
            <div class="wrap_pre">
                <div class="input_box">
                    <label for="exampleInputEmail1">Upload Niyat Scan Copy</label>
                    <input matInput type="text" class="input-control" id=""   placeholder="">
                      <div class="broswe_file">
                        <input id="file-upload" value="" type="file"/><span class="browse">Browse</span> <span class="text_choose">No File Chosen</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="botton_button">
        <button type="button" class="cancel_button submit_button">Cancel</button>
        <button type="button" class="submit_button">Submit</button>
    </div>
</div>
<!--end data entry operator add niyat form -->
<!--Start admin approve niyat Tab niyat information page -->
<div class="heading_bar">
    <h1>Niyat Information</h1>
</div>
<div class="add_department">
    <button  type="button">Back</button>
</div>
<div class="add_department_form">
    <div class="niyat_info">
        <div class="info_txt">
            <h5>I will acquire La Uqsemo sanad in Ramadan.</h5>
            <p>Niyat Fill Date (DD/MM/YY) <span>20/11/2021</span></p>
        </div>
        <div class="info_wrap">
            <div class="list_radio">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Yes </mat-radio-button>
                    <mat-radio-button value="2">No </mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="view_btn">
            <button type="button" class="submit_button"><img src="../assets/images/view_niyat.png" alt="" /> View Niyat Form</button>
        </div>
        <div class="view_txt"><p>Niyat Status with Approver's information.</p></div>
        <div class="niyat_approve">
            <div class="niyat_row">
                <div class="txt_wrap wd_1">
                    <a href="">Umoor Talimiyah Coordinator</a>
                </div>
                <div class="wd_wrap">
                    <div class="txt_wrap ml">
                        <span class="active_status">Approved</span>
                    </div>
                    <div class="txt_wrap ml">
                        <a href="" class="msg_send">Send Message</a>
                    </div>
                    <div class="txt_wrap ml">
                        <span class="time_txt">2h :40m</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="niyat_approve">
            <div class="niyat_row">
                <div class="txt_wrap wd_1">
                    <a href="">Aamil</a>
                </div>
                <div class="wd_wrap">
                    <div class="txt_wrap ml">
                        <button type="button" class="submit_button">Approve Niyat</button>
                    </div>
                    <div class="txt_wrap ml">
                        <span class="active_status inactive">Pending</span>
                    </div>
                    <div class="txt_wrap ml">
                        <a href="" class="msg_send">Send Message</a>
                    </div>
                    <div class="txt_wrap ml">
                        <span class="time_txt">2h :40m</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!--End admin approve niyat Tab niyat information page-->

<!--Start Send  Message popup page -->
    <div class="send_msg_popup">
        <div class="close_popup"><mat-icon>close</mat-icon></div>
        <h3>Send  Message</h3>
        <div class="form_popup">
            <div class="input_box">
                <mat-form-field apperance="fill">
                    <input matInput type="search" autocomplete="off" class="input-control"  required>
                    <p>Admil Saheb</p>
                </mat-form-field>
            </div>
            <div class="input_box">
                <mat-form-field apperance="fill">
                    <input matInput type="search" autocomplete="off" class="input-control"  required>
                </mat-form-field>
            </div>
            <div class="txt_area">
                <mat-form-field class="example-full-width" appearance="fill">
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="botton_button">
            <button type="button" class="cancel_button submit_button">Cancel</button>
            <button type="button" class="submit_button">Send</button>
        </div>
    </div>
<!--end Send  Message popup page -->

<!--Start Contact Detail popup page -->
    <div class="send_msg_popup">
        <div class="close_popup"><mat-icon>close</mat-icon></div>
        <h3>Contact Details</h3>
        <div class="detail_sub">
            <p><span>Name</span> :   Salim</p>
            <p><span>Contact Number</span> : +91-9818888888</p>
            <p><span>Email</span> : Samil.amil@gmail.com</p>
        </div>
    </div>
<!--end Contact Detail popup page -->



<!--Start admin Send  Message page -->
<div class="heading_bar">
    <h1>Send Message</h1>
</div>
<div class="add_department_form">
    <div class="department_form">
        <div class="send_option">
            <div class="list_check">
                <mat-checkbox>Umoor Head</mat-checkbox>
            </div>
            <div class="list_check">
                <mat-checkbox>Department Head</mat-checkbox>
            </div>
            <div class="list_check">
                <mat-checkbox>Aamil</mat-checkbox>
            </div>
            <div class="list_check">
                <mat-checkbox>Jamiat Masool</mat-checkbox>
            </div>
            <div class="list_check">
                <mat-checkbox>Umoor Coordinator</mat-checkbox>
            </div>
        </div>
        <div class="input_box full_th">
            <label for="exampleInputEmail1">Subject<span class="astrick">*</span></label>
            <mat-form-field apperance="fill">
                <input matInput type="search" autocomplete="off" class="input-control" required>
            </mat-form-field>
        </div>
        <div class="txt_area full_wd">
            <label for="exampleInputEmail1">Message<span class="astrick">*</span></label>
            <mat-form-field class="example-full-width" appearance="fill">
                <textarea matInput placeholder="Enter Message"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="botton_button">
        <button type="button" class="cancel_button submit_button">Cancel</button>
        <button type="button" class="submit_button">Send</button>
    </div>
</div>
<!--end admin Send  Message page -->

<!--Start Mumnin Reward session -->
<div class="add_department_form">
    <div class="heading_texture mumnin_heading">
        <h2>Reward</h2>
    </div>
    <div class="mumnin_reward">
        <div class="gold_level">
            <div class="level_count">
                <img src="../assets/images/level.png" alt="" />
                <div class="txt_overlay"><p>500</p></div>
            </div>
            <p>Level - Gold </p>
        </div>
        <div class="trophy_level">
            <div class="level_count">
                <img src="../assets/images/trophy.png" alt="" />
                <div class="txt_overlay"><p>1000</p></div>
            </div>
            <p>Trophies Redeemed - 400</p>
        </div>
        <div class="total_niyat">
            <div class="level_count">
                <img src="../assets/images/niyat_done.png" alt="" />
                <div class="txt_overlay"><p>10000</p></div>
            </div>
            <p>Total Niyat Done- All over the World</p>
        </div>
        <div class="redeem_btn">
            <button  type="button" class="submit_button">Redeem Now</button>
        </div>
    </div>
</div>
<!--end Mumnin Reward session -->

<!--start  Mumnin niyat information request for update -->
<div class="heading_bar">
    <h1>Niyat Information</h1>
</div>
<div class="add_department_form">
    <div class="niyat_info">
        <div class="info_txt">
            <h5>Recite Quran Majeed Every Day ?</h5>
            <p>Niyat Fill Date (DD/MM/YY) <span>20/11/2021</span></p>
        </div>
        <div class="info_wrap">
            <div class="list_radio">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Yes </mat-radio-button>
                    <mat-radio-button value="2">No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="list_radio">
                <button type="button" class="submit_button">Request For Update</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="view_btn">
            <button type="button" class="submit_button"><img src="../assets/images/view_niyat.png" alt="" /> View Niyat Form</button>
        </div>
    </div>
</div>
<div class="add_department_form">
    <div class="niyat_info">
        <div class="info_txt">
            <h5>Recite Quran Majeed Every Day ?</h5>
            <p>Niyat Fill Date (DD/MM/YY) <span>20/11/2021</span></p>
            <div class="question_st"><p>Question  State</p></div>
        </div>
        <div class="info_wrap">
            <div class="list_radio">
                <div class="input_box">
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control"  required>
                    </mat-form-field>
                </div>
            </div>
            <div class="list_radio">
                <button type="button" class="submit_button">Request For Update</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="view_btn">
            <button type="button" class="submit_button"><img src="../assets/images/view_niyat.png" alt="" /> View Niyat Form</button>
        </div>
    </div>
</div>
<!--end Mumnin niyat information request for update  -->

<!-- start Mumnin niyat information mubarak and you achieved trophy  -->
<div class="add_department_form">
    <div class="niyat_info">
        <div class="info_txt">
            <h5>Recite Quran Majeed Every Day ?</h5>
            <p>Niyat Fill Date (DD/MM/YY) <span>20/11/2021</span></p>
        </div>
        <div class="info_wrap btn_mubarak">
            <div class="list_radio">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Yes </mat-radio-button>
                    <mat-radio-button value="2">No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="list_radio">
                <button type="button" class="submit_button ">
                    <i><img src="../assets/images/mubarak_bg.png" alt=""></i>
                    <i class="img_right"><img  src="../assets/images/mubarak_bg_right.png" alt=""></i>
                    MUBARAK
                </button>
               
            </div>
            <p>you have completed the niyat</p>
        </div>
        <div class="clearfix"></div>
        <div class="view_btn">
            <button type="button" class="submit_button button_disabled"><img src="../assets/images/view_niyat.png" alt="" /> View Niyat Form</button>
        </div>
    </div>
</div>
<div class="add_department_form">
    <div class="mumnin_reward">
        <div class="trophy_level trophy_achieve">
            <div class="level_count">
                <img src="../assets/images/trophy.png" alt="" />
                <div class="txt_overlay"><p>10</p></div>
            </div>
            <p>You have achieved 10 trophies for this Niyat</p>
        </div>
        <div class="redeem_btn">
            <button  type="button" class="submit_button">Redeem Now</button>
        </div>
    </div>
</div>
<!-- start Mumnin niyat information mubarak and you achieved trophy -->

<!-- start Mumnin niyat information condition question requested -->
<div class="add_department_form">
    <div class="niyat_info">
        <div class="info_txt">
            <h5>I will acquire La Uqsemo sanad in Ramadan.</h5>
            <p>Niyat Fill Date (DD/MM/YY) <span>20/11/2021</span></p>
        </div>
        <div class="info_wrap">
            <div class="list_radio">
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button value="1">Yes </mat-radio-button>
                    <mat-radio-button value="2">No </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="list_radio">
                <button type="button" class="submit_button">Request For Update</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="view_btn">
            <button type="button" class="submit_button"><img src="../assets/images/view_niyat.png" alt="" /> View Niyat Form</button>
        </div>
        <div class="view_txt"><p>Your Niyat request has been submitted. Following are the respective Approvers. Once they approve, you will get Trophies.</p></div>
        <div class="niyat_approve">
            <div class="niyat_row">
                <div class="txt_wrap wd_1">
                    <a href="">Umoor Talimiyah Coordinator</a>
                </div>
                <div class="wd_wrap">
                    <div class="txt_wrap ml">
                        <span class="active_status">Approved</span>
                    </div>
                    <div class="txt_wrap ml">
                        <a href="" class="msg_send">Send Message</a>
                    </div>
                    <div class="txt_wrap ml">
                        <span class="time_txt">2h :40m</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="niyat_approve">
            <div class="niyat_row">
                <div class="txt_wrap wd_1">
                    <a href="">Aamil</a>
                </div>
                <div class="wd_wrap">
                    <div class="txt_wrap ml">
                        <button type="button" class="submit_button">Approve Niyat</button>
                    </div>
                    <div class="txt_wrap ml">
                        <span class="active_status inactive">Pending</span>
                    </div>
                    <div class="txt_wrap ml">
                        <a href="" class="msg_send">Send Message</a>
                    </div>
                    <div class="txt_wrap ml">
                        <span class="time_txt">2h :40m</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>  
<!-- end Mumnin niyat information condition question requested -->

<!--start Mumnin Mubarak popup page -->
<div class="send_msg_popup mubarak_popup">
    <div class="close_popup"><mat-icon>close</mat-icon></div>
    <h2>Mubarak</h2>
    <h3>You Won the Trophy</h3>
    <div class="trophy_level">
        <div class="level_count">
            <img src="../assets/images/trophy.png" alt="" />
            <div class="txt_overlay"><p>10</p></div>
        </div>
        
    </div>
    <h4>You Have Won the 10 Trophies</h4>
</div>
<!--end Mumnin Mubarak popup page -->



<!-- Start Mumnin Catalogue redeem now confirmation page -->
<div class="send_msg_popup conform_p">
    <div class="close_popup"><mat-icon>close</mat-icon></div>
    <h3>REDEEM NOW</h3>
    <div class="detail_sub conform_p">
        <p>100 Trophy will be debited from your trophy balance.</p>
    </div>
    <div class="botton_button">
        <button type="button" class="submit_button">Confirm</button>
        <button type="button" class="cancel_button submit_button">Cancel</button>
    </div>
</div>
<!--end Mumnin Catalogue redeem now confirmation page -->

<!-- Start Mumnin last login popup -->
<div class="send_msg_popup conform_p">
    <div class="close_popup"><mat-icon>close</mat-icon></div>
    <h3>WELCOME BACK</h3>
    <div class="detail_sub conform_p">
        <p>We are excited to see you again after 15 days</p>
        <p>Last Login</p>
        <p>Date :14-Sep-2021</p>
        <p>TIme :20:00pm</p>
    </div>
</div>
<!--end Mumnin last login popup -->
<!--start Mumnin Catalogue -->
<div class="add_department_form" style="display:none;">
    <div class="mumnin_reward">
        <div class="trophy_level trophy_achieve">
            <div class="level_count">
                <img src="../assets/images/trophy.png" alt="" />
                <div class="txt_overlay"><p>10</p></div>
            </div>
            <div class="count_text">
                <p>Trophies Redeemed  - 400</p>
                <p>Trophies Balance  - 600</p>
            </div>
        </div>
    </div>
</div>
<!--start Mumnin Catalogue -->
<!--start Mumnin catalogue listing -->
<div class="add_department_form">
    <div class="heading_texture mumnin_heading">
        <h2>Redeem Your Trophy</h2>
    </div>
    <div class="department_form">
        <div fxLayout="row wrap" fxLayoutAlign="start center" >
            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
            <div  fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
            <div  fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
            <div  fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%">
                <div class="card_view_catalogue">
                    <div class="catalogue_circle">
                        <img src="assets/images/catelogue.png" />
                    </div>
                   <button class="redeem_trophy">Redeem For 100 Trophies</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end Mumnin catalogue listing -->
    
<!-- Start niyat scan imaage popup -->
    <div class="send_msg_popup niyat_scan_image">
        <div class="close_popup"><mat-icon>close</mat-icon></div>
        <div class="">
            <img src="../assets/images/niyatform.png" alt="" />
        </div>
    </div>
<!-- end niyat scan imaage popup -->
<div class="send_msg_popup gift-reward">
    <div class="gift-header">
        <div class="close_popup"><mat-icon>close</mat-icon></div>
        <h3>Gift a Reward</h3>
    </div>
    <div class="detail_sub">
        <p>Total Trophies: <span>10</span></p>

        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50">
                <div class="input_box">
                    <label for="exampleInputEmail1">Aamil Saheb<br>
                        Aamil Saheb Name</label>
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control" required>
                    </mat-form-field>
                </div> 
            </div>
            <div fxFlex="50">
                <div class="input_box">
                    <label for="exampleInputEmail1">
                        Umoor Cordinator<br>
                        Umoor Coordinator Name
                    </label>
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control" required>
                    </mat-form-field>
                </div> 
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex="50">
                <div class="input_box">
                    <label for="exampleInputEmail1">Aamil Saheb<br>
                        Aamil Saheb Name</label>
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control" required>
                    </mat-form-field>
                </div> 
            </div>
            <div fxFlex="50">
                <div class="input_box">
                    <label for="exampleInputEmail1">
                        Umoor Cordinator<br>
                        Umoor Coordinator Name
                    </label>
                    <mat-form-field apperance="fill">
                        <input matInput type="search" autocomplete="off" class="input-control" required>
                    </mat-form-field>
                </div> 
            </div>
        </div>
    </div>
    <div class="botton_button">
        <button type="button" class="cancel_button submit_button">Cancel</button>
        <button type="button" class="submit_button">Confirm</button>
    </div>
</div> 
<!-- start Messenge notification -->
<div class="heading_bar">
    <h1>Notification</h1>
</div>
<div class="add_department_form">
    <div class="department_form">
        <div class="input_select right_align">
            <div class="select_umoor">
                <div class="input_box">
                    <label for="exampleInputEmail1">Fillter</label>
                    <mat-form-field appearance="fill">
                        <mat-select>
                            <mat-option  [value]="">Read</mat-option>
                            <mat-option  [value]="">Unread</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="!f.userStatus.valid">{{validationMessages.status}}</mat-error>-->
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="questio_list"><h4><mat-icon>check</mat-icon> Mark as all Read</h4></div>
    <div class="list_row">
        <ul>
            <li class="br_top">
                <h4>Update Pushed</h4>
                <p>I will recite Quran Majeed daily, and update it on ITS website ....<span class="tm_line">05 Dec 2021, 00:44</span></p>
                <div class="list_check">
                    <span class="unread"><mat-icon>check_circle_outline</mat-icon> Un read</span>
                </div>
            </li>
            <li>
                <h4>Update Pushed</h4>
                <p>I will recite Quran Majeed daily, and update it on ITS website....<span class="tm_line">05 Dec 2021, 00:44</span></p>
                <div class="list_check">
                    <span class="unread"><mat-icon>check_circle_outline</mat-icon> Read</span>
                </div>
            </li>
            <li>
                <div class="option_next">
                    <div class="select_change">
                        <div class="input_box">
                            <mat-form-field appearance="fill">
                                <mat-select>
                                <mat-option  [value]="">1</mat-option>
                                <mat-option  [value]="">1</mat-option>
                                <mat-option  [value]="">1</mat-option>
                                </mat-select>
                                <!-- <mat-error *ngIf="!f.userStatus.valid">{{validationMessages.status}}</mat-error>-->
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="next_feild">
                        <a href="#">Previous</a>
                        <a href="#">Next</a>
                    </div>
                </div>
            </li>
           
        </ul>
    </div>
</div>
<button mat-icon-button [matMenuTriggerFor]="menu_notification" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu_notification="matMenu" class="notifiation-list">
    <div class="scroll_fxt">
            <button mat-menu-item>
                <div class="text_section">
                    I will recite Quran Majeed daily, and update it on ITS website ....
                    <div class="notification_time">4 Hour Ago</div>
                </div>
                
            </button>
            <button mat-menu-item>
                <div class="text_section">
                    I will recite Quran Majeed daily, and update it on ITS website ....
                    <div class="notification_time">4 Hour Ago</div>
                </div>
            </button>
            <button mat-menu-item>
                <div class="text_section">
                    I will recite Quran Majeed daily, and update it on ITS website ....
                    <div class="notification_time">4 Hour Ago</div>
                </div>
            </button>
            <button mat-menu-item>
                <div class="text_section">
                    I will recite Quran Majeed daily, and update it on ITS website ....
                    <div class="notification_time">4 Hour Ago</div>
                </div>
            </button>
            
    </div>
        <div class="txt_section">
            <button>View all Notifications</button> 
        </div>
    
  </mat-menu>
<div class="table_wrap">
    <div class="">
        <div class="">
            <table class="table">
                <thead role="rowgroup">
                    <tr>
                        <th> Message </th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                    <tr>
                        <td class="mat-cell">Message</td>
                        <td>05 Dec 2021</td>
                        <td>12:22</td>
                        <td><span class="active_status">Read</span></td>
                        <td class="mat-cell"><mat-icon>filter_center_focus</mat-icon></td>
                    </tr>
                    <tr>
                        <td class="mat-cell">Message</td>
                        <td>05 Dec 2021</td>
                        <td>00:12</td>
                        <td><span class="active_status inactive">Unread</span></td>
                        <td class="mat-cell"><mat-icon>filter_center_focus</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="welcome_wrap_page">
    <div class="welcome_heading">
        <h1>Welcome to Aelaam </h1>
    </div>
    <div class="logo_elam">
        <img src="../assets/images/logo.png" alt="" />
    </div>
    <div class="welcome_txt">
        <h4>ITS Authentication</h4>
        <p>
            You will need to authenticate on ITS52.com before you can access the content on Aelaam portal.
        </p>
        <p>Please click below to proceed...</p>
    </div>
    <button type="button" class="submit_button">Click Here</button>
</div>
<div class="heading_bar">
    <h1>Welcome to Aelaam </h1>
</div>
<div class="role_swtich_tab">
    <div class="swtich_label">
        <ul>
            <li class="active">
                Mumin
            </li>
            <li>
                Approve
            </li>
        </ul>
    </div>
</div>
<div class="welcome_btn">
    <button type="button" class="submit_button">Proceed</button>
</div>