
.mumnin_reward{
    .txt_overlay2 {
        p {
            color: #fff;
            text-shadow: 0 0 3px #000000, 0 0 5px #000000;
        }
    }
    p{
        padding-bottom: 10px;
    }
    .add_department{
        position: absolute;
        right: 20px;
        float: none;
    }
}