<app-header-bar  [path]="'/admin/catalogue/add'" [buttonName]="'Add Catalogue Item'" ></app-header-bar>
<div class="heading_bar2">
    <div class="report_tab catalogue-tab" *ngIf="(catalogueList$ | async)">
        <mat-tab-group animationDuration="3ms"  >
            <mat-tab label="Mumin">
            <div class="add_department_form">
                    <div class="department_form">
                        <div fxLayout="row wrap" fxLayoutAlign="start">
                            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%" *ngFor="let data of (catalogueList$ | async).MUMIN">
                                <div class="card_view_catalogue">
                                    <div class="view_icon" (click)="viewImage(data?.image_url)">
                                        <span class="material-icons hover-text">aspect_ratio</span>
                                        <!-- <mat-icon  class="mat-icon notranslate material-icons-outlined material-icons mat-icon-no-color" aria-hidden="true">explore</mat-icon> -->
                                    </div>
                                    <div class="edit_icon">
                                        <mat-icon [routerLink]="'/admin/catalogue/edit/'+ encBtoa(data.id)" class="mat-icon notranslate material-icons-outlined action_icon material-icons mat-icon-no-color" aria-hidden="true">edit </mat-icon>
                                    </div>
                                    <div class="catalogue_circle" (click)="viewListMumin('MUMIN',data.id)">
                                        <img [src]="data?.image_url?data?.image_url : imgPath" />
                                    </div>
                                    <h4>{{data.trophies || '-' }}</h4> 

                                    <button class="cusortype">{{data.itemTitle.substring(0, 20) || '-' }}</button>

                                    <!-- <button mat-button (click)="viewCatalog(data.itemTitle,data.trophies)">{{data.itemTitle.substring(0, 20) || '-' }}</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </mat-tab>
            <mat-tab label="Approvers">
             <div class="add_department_form">
                    <div class="department_form">
                        <div fxLayout="row wrap" fxLayoutAlign="start">
                            <div fxFlex.gt-sm="50%" fxFlex.gt-xs="100%"  fxFlex.gt-md="25%" *ngFor="let data of (catalogueList$ | async).APPROVERS">
                                <div class="card_view_catalogue">
                                    <div class="view_icon" (click)="viewImage(data?.image_url)">
                                        <!-- <img [src]="imgPath"  alt="" /> -->
                                        <span class="material-icons hover-text">aspect_ratio</span>
                                        <!-- <mat-icon  class="mat-icon notranslate material-icons-outlined material-icons mat-icon-no-color" aria-hidden="true">explore</mat-icon> -->
                                    </div>
                                    <div class="edit_icon">
                                        <mat-icon [routerLink]="'/admin/catalogue/edit/'+ encBtoa(data.id)" class="mat-icon notranslate material-icons-outlined action_icon material-icons mat-icon-no-color" aria-hidden="true">edit </mat-icon>
                                    </div>
                                    <div class="catalogue_circle" (click)="viewListMumin('APPROVERS',data.id)">
                                        <img [src]="data?.image_url?data?.image_url : imgPath" />
                                    </div>
                                    <h4>{{data.trophies || '-' }}</h4> 
                                    <button mat-button>{{data.itemTitle.substring(0, 20) || '-' }}</button>
                                    <!-- <button mat-button (click)="viewCatalog(data.itemTitle,data.trophies)">{{data.itemTitle.substring(0, 20) || '-' }}</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <!-- <mat-tab label="Prizes Redeemed">
                <div class="add_department_form">
                    <div class="search_list">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <input matInput class="searchInput" placeholder="Search by ITS ID / Name / Prize Name"
                                [formControl]="prizeSearchControl" (keyup)="searchPrizes($event)" />
                            <i class="search_icon"><mat-icon aria-hidden="false" aria-label="search">search</mat-icon></i>
                            <i class="clearbtn" *ngIf="prizeSearchControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="emptyPrizeSearch()">
                                <mat-icon>close</mat-icon>
                            </i>
                        </mat-form-field>

                        <mat-form-field appearance="fill" class="ack_filter">
                            <mat-select placeholder="Acknowledgement Status" [(ngModel)]="acknowledgementFilter" (selectionChange)="onAcknowledgementFilterChange($event)">
                                <mat-option value="">All</mat-option>
                                <mat-option value="true">Acknowledged</mat-option>
                                <mat-option value="false">Pending</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="downloadbutton">
                        <app-download-files-button
                            [dataList]="redeemedPrizesList$.asObservable()"
                            [downloadtitle]="downloadButtonTitle"
                            [getHeader]="sendHeader"
                            [getTableId]="sendTableId"
                            [getTitle]="sendTitle"
                            [buttonText]="'Prizes Redeemed'"
                            [getFileName]="sendFileName"
                            [showCSV]="false"
                            (sendData)="downloadRedeemedPrizesExcel()">
                        </app-download-files-button>

                        <button class="All_Selected"
                            (click)="openConfirmation()"
                            [disabled]="checkboxSelectedVal.length === 0"
                            [ngClass]="{'disabled-btn': checkboxSelectedVal.length === 0}">
                            Acknowledge All
                        </button>
                    </div>

                    <div class="table_wrap">
                        <app-server-side-smart-table
                            [columns]="redeemedPrizesColumns"
                            [service]="redeemedPrizesService"
                            [isAcknowledged]="true"
                            [searchStr]="prizeQuery"
                            [filters]="redeemedPrizesFilters"
                            (tableRecord)="fetchedPrizeRecord($event)"
                            (tableParams)="onRedeemedPrizesParamsChange($event)">
                        </app-server-side-smart-table>
                    </div>
                </div>

                <div *ngIf="showConfirmation">
                    <div class="send_msg_popup conform_p" style="border: 4px solid white; padding: 20px; border-radius: 8px; background-color: #222;">
                        <div class="close_popup closeconfirm">
                            <mat-icon (click)="closeConfirmation()">close</mat-icon>
                        </div>
                        <h3>Confirmation Message</h3>
                        <div class="detail_sub conform_p">
                            <p>Are you sure you want to acknowledge all selected items?</p>
                        </div>
                        <div class="botton_button">
                            <button type="button" class="submit_button" (click)="confirmAction()">Yes</button>
                            <button type="button" class="cancel_button submit_button" (click)="closeConfirmation()">No</button>
                        </div>
                    </div>
                </div>
            </mat-tab> -->
        </mat-tab-group>
    </div>
</div> 
