<div class="mainConatiner">
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="">
    </div>
    <h1>PRIVACY POLICY</h1>
    <p>AELAAM App is committed to safeguard the privacy of individuals and ensures that they continue to trust with
        their personal data
        or information. We believe that when our customers, employees, and other key stakeholders entrust us with
        their personal
        information, we owe it to them to safeguard it and to use it wisely and in a judicious limited manner for
        the purpose. Ensuring
        and safeguarding data privacy is the right thing to do.</p>

    <ul>
        <li> <span>1.</span> AELAAM App has adopted a data privacy policy that identifies the organization’s
            objectives for privacy. This policy articulates
            the definition of personal information and underlines the importance of the data elements that fall
            under the definition.
        </li>
        <li>
            <span>2.</span> The data shall be collected by fair and lawful means, with the knowledge of the provider
            of information.
        </li>
        <li><span>3.</span> Implicit or explicit consent has been and shall continue to be obtained from the
            provider of information with respect to the
            collection, use, and disclosure of personal information received.</li>
        <li>
            <span>4.</span>
            We shall provide notice about our privacy policies and procedures which identifies the purposes for
            which personal
            information is collected, used, retained, and disclosed.
        </li>
        <li>
            <span>5.</span>
            An inventory of elements has been created that are important from the privacy perspective, and which are
            subject to the
            requirement of this policy.
        </li>
        <li>
            <span>6.</span>
            We ensure that the provider of information is giving access to his/her information gathered and stored
            in our systems and is
            also enabled to modify the data provided by him/her.
        </li>
        <li>
            <span>7.</span>
            AELAAM App limits the use of personal information to the purposes for which the individual has provided
            consent. We shall
            retain personal information for only as long as necessary to fulfil the stated purposes or as required
            by law and thereafter
            appropriately dispose of such information.
        </li>
        <li>
            <span>8.</span>
            AELAAM App may potentially disclose personal information to third parties only for the purposes for which
            the individual has
            provided consent
        </li>
        <li>
            <span>9.</span>
            We shall maintain a comprehensive framework that is organized to achieve the end goals of data security
            and privacy. It
            includes security practices, standards, and policies with the objective of protecting personal
            information from unauthorized
            access and improper use and ensures periodic review of the same.
        </li>
        <li>
            <span>10.</span>
            We shall provide ongoing data privacy training to the target audience and ensure that adequate level of
            understanding exists
            about privacy requirements, applicable privacy principles and their implications.
        </li>
        <li>
            <span>11.</span>
            We respect the privacy of individual and are committed to take reasonable precautions to protect
            information consisting of
            Personal information and `Sensitive Personal Data Information’ (SPDI) (“Information”) of individuals and
            comply with all legal,
            regulatory and contractual obligations related to privacy. AELAAM App has adopted the “Privacy by
            Default” principles in its
            approach to data privacy i.e. privacy of data and information is upheld first by default
        </li>
        <li>
            <span>12.</span>
            This policy covers the processing, storage and access to such Information as required under lawful and
            contractual activities
            with AELAAM App or otherwise required in the normal course of business.
        </li>
        <li>
            <span>13.</span>
            It describes by natural persons and meets the requirements established under:
        </li>
        <li class="colorBlack">
            • The Information Technology Act, 2000 – Section 43A
        </li>
        <li class="colorBlack">
            • The Information Technology (Reasonable Security Practices and Procedures and Sensitive
            Personal Information) Rules,
            2011
        </li>
        <li>
            <span>1.</span>
            Scope and Exclusions: This policy applies to all visitors of AELAAM Mobile Application
        </li>
        <li>
            <span>2.</span>
            Required References:
        </li>

        <li> <span>2.1</span> Requirements of the Information Technology Act, 2000
            http://meity.gov.in/content/information-technology-act</li>


        <li><span>3.</span>
            AELAAM App requirements
        </li>
        <li>
            <span>3.1</span>
            Information covered by this policy. This Privacy Policy applies to Information collected
            and processed by the organization
            consisting of following:
        </li>
        <li>
            <span>3.1.1</span>
            Personal information is information related to an individual, or a combination
            of pieces of information that could
            reasonably allow an individual to be identified. Personal information may
            consist of full name, personal contact numbers, email
            address, gender, or date of birth. While information such as date of birth in
            isolation may not be enough to uniquely identify an
            individual, a combination of full name and date of birth may be sufficient to do
            so.
        </li>
        <li>
            <span>3.1.2</span>
            Sensitive personal data or information (“SPDI”) is such personal information
            that is collected, received, stored, transmitted,
            or processed by the organization, consisting of:
        </li>
        <li class="colorBlack">
            • Password
        </li>
        <li>
            • Financial information such as bank account or credit card or debit
            card or other payment instrument details
        </li>
        <li>
            • Physical, physiological, and mental health condition
        </li>
        <li>
            • Sexual orientation
        </li>
        <li>
            • Medical records and history
        </li>
        <li>
            • Biometric information
        </li>
        <li>
            • Any detail relating to the above personal information categories as
            Data Privacy Policy of the organization for providing
            service; and
        </li>
        <li>
            • Any of the information received under above personal information
            categories by the organization for processing, stored or
            processed under lawful contract or otherwise.
        </li>


        <li class="colorBlack">
            Please note that any information that is freely available or accessible in public domain
            or furnished under the Right to
            Information Act, 2005 or any other law for the time being in force shall not be regarded
            as sensitive personal information.
        </li>
        <li>
            <span>3.2</span> Purpose: AELAAM App shall collect and use Information for legitimate
            business purposes in order:
        </li>
        <li>
            <span>3.2.1</span>
            That a visitor may download product information, order products and take
            advantage of certain other features of AELAAM
            Mobile Application.
        </li>
        <li>
            <span>3.2.2</span>
            To provide information or interactive services through this Mobile Application,
            to the visitor’s e-mail address or, where the
            visitor wishes it to be sent by post, to the visitor’s postal address
        </li>
        <li>
            <span>3.2.3</span>
            To seek the visitor’s feedback or to contact the visitor in relation to the
            services offered on AELAAM App Mobile
            Application.
        </li>
        <li>
            <span>3.2.4</span>
            To process orders or Application submitted by the visitor
        </li>
        <li>
            <span>3.2.5</span>
            To administer or otherwise carry out obligations in relation to any agreement
            that the visitor may have with AELAAM App
        </li>
        <li>
            <span>3.2.6</span>
            To anticipate and resolve problems with any goods or services supplied to the
            visitor
        </li>
        <li>
            <span>3.2.7</span>
            To create products or services that may meet the visitor’s needs
        </li>
        <li>
            <span>3.2.8</span>
            To process and respond to requests, improve AELAAM App’s operations, and
            communicate with visitor/s about AELAAM
            App products, services and businesses; and
        </li>
        <li>
            <span>3.2.9</span>
            To allow the visitor to subscribe to AELAAM App news alerts.
        </li>

        <li>
            <span>3.3</span>
            Collection of Information
        </li>
        <li>
            <span>3.3.1</span>
            The amount and type of data and details that AELAAM App minimally needs to collect for
            the identified purpose shall be
            determined prior to collection.
        </li>
        <li>
            <span>3.3.2</span>
            Only minimum privacy data and details required to meet business purposes shall be
            collected from individuals.
        </li>
        <li>
            <span>3.3.3</span>
            Neither AELAAM App nor its representatives shall be responsible for the authenticity of
            such Information provided by the
            individual.
        </li>
        <li>
            <span>3.3.4</span>
            The purpose and intended usage for which Information is being collected shall be
            communicated at the point of collection.
        </li>

       
        <li>
            <span>3.4</span>
            As normal business practice, AELAAM App may collect Information in order to enable the secure
            online authentication,
            interaction and transaction with natural persons. This may include the installation of cookies
            and the collection of other session
            data according to the Data Privacy Policy to Access, Correction of Information, and withdrawal
            of consent.
            </li>
                <li>
                    <span>3.4.1</span>
                    Any modifications / corrections required to the Information can be carried out on the
                    Mobile Application. In the event one
                    is unable to do so due to lack of functionality in our Mobile Application and / or one
                    wants to withdraw his / her consent to
                    provide SPDI, he / she may contact the Grievance officer.
                </li>
           
       
        <li>
            <span>3.5</span>
            Retention, Processing and Storage of Information
        </li>
        <li>
            <span>3.5.1</span>
            AELAAM App shall retain Information for only as long as necessary to meet legal or
            regulatory requirements or for
            legitimate business purposes communicated at the point of collection.
        </li>
        <li>
            <span>3.5.2</span>
            AELAAM App have implemented required security practices and standards in line with the
            global standards and have a
            comprehensive documented information security program and policy in place, which
            contains managerial, technical, operational
            and physical security control measures that commensurate with the information assets
            being protected with our nature of
            business. It is being reviewed periodically to keep pace with business, technology and
            regulatory changes.
        </li>

        <li>
            <span>3.6</span>
            Disclosure of Information
        </li>
        <li>
            <span>3.6.1</span>
            AELAAM App shall not use or disclose Information for purposes other than those for which it was
            collected, except with the
            consent of individual providing such Information or as required by law. However, AELAAM App may
            be legally required to
            disclose the Information in the following cases:
        </li>
        <li>
            <span>3.6.1.1</span>
            Where the disclosure is necessary for compliance of a legal obligation.
        </li>
        <li>
            <span>3.6.1.2</span>
            Where mandated under the law by government agencies to disclose such Information.
        </li>
        <li>
            <span>3.6.2</span>
            Where necessary, AELAAM App may disclose Information to business partners or third parties during
            the normal course of
            business for the purposes for which it was collected. In such cases, AELAAM App shall only share
            Information related data
            assured that:
        </li>
        <li>
            <span>3.6.2.1</span>
            The Information is processed legitimately and appropriately by the business partner or third
            party in line with the
            established consent or in line with legal requirements.
        </li>
        <li>
            <span>3.6.2.2</span>
            The business partner or third party has adopted a reasonable and equivalent level of security
            practices and procedures to
            ensure security of the Information shared.
        </li>
    

        <li>
            <span class="underLine">3.7 Feedback or Concern`s</span>

        </li>
        <li>
            For feedback or concern if any, kindly contact Email Id: elamdept@alvazarat.org

        </li>
        <li>
            Phone: 7016018844
        </li>

    </ul>

</div>