.heading_bar{
    h3{
        margin: 0;
        padding: 0;
        color: #583702;
        font-size: 22px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    h1.count{
        position: absolute;
        top: 66px;
        right: 30px;
    }
}
.mat-input-element {
    caret-color: black;
}